.img {
  background-image: url('@/assets/header.png');
  background-repeat: no-repeat;
  background-size: cover;
}

h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ant-layout .ant-layout-header,
.ant-layout .ant-layout-sider {
  padding: 0;
  background-color: unset;
}